* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lexend+Deca:wght@100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


body {
  justify-content: center;
  font-family: "Google Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header {
  justify-content: center;
  background-color: #212121;
  padding-top: 25px;
  padding-bottom: 25px;
}

h1 {
  text-align: center;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

h2 {
  text-align: center;
  font-size: 15px;
  color: white;
}

h3 {
  text-align: center;
  font-size: 15px;
  color: white;
}

.p1 p {
  font-size: 15px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 20px;
}

.gallery {
  display: flex;
  padding: 50px;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.p1 {
  justify-content: center;
  padding: 30px;
  border-radius: 5px;
}

footer {
  background-color: #212121;
  padding-top: 25px;
  padding-bottom: 25px;
}

img {
  width: 300px;
  height: 200px;
}
