body{
    margin: 0%;
}

h1{
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
}

h3{
    justify-content: center;
    font-family: 'MiFuente';
    src: url() format(), 
    
}