body{
    margin: 0%;
}

h1{
    justify-content: center;
    padding-right: 30%;
    margin-right: 30%;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;

}

h3{
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding-right: 50%;

}

.foto1{
    border: 2px solid brown;
    display: flex;
    width: 400px;
    border-radius: 10px;
    
    
}