*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bbbaba;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tarjeta{
    box-sizing: border-box;
    height: 1140px;
    width: 1440px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.5);
}




header{
    border: 2px solid black;
    width: 444px;
    height: 473px;
    margin-top: 137px;
    margin-right: 60px;
    
}




h1{
    width: 444px;
    height: 231px;
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    color: #252525;

}


h3{
   width: 386px;
   height: 144px;
   font-weight: 400;
   font-size: 26px;
   color: #252525CC;


}


button{
  
}


p{
    width: 368px;
    height: 55px;
    font-weight: 800;
    font-size: 40px;
    color: #25252540 ;
}


.foto1{
    width: 408px;
    height: 480px;
    border-radius: 16px;
    margin-left: 525px;
    
    
  
}


.foto2{
    width: 408px;
    height: 480px;
    border-radius: 16px;
    margin-left: 968px;
  
    
}
  


.galeriainferior{
    display: flex;
    gap: 40px;

}

.foto3{
   width: 412px;
   height: 379.16px;
   border-radius: 16px;
}


.foto4{
   width: 412px;
   height: 379.16px;
   border-radius: 16px;
}



.foto5{
    width: 412px;
   height: 379.16px;
   border-radius: 16px;
}
