*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bbbaba;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tarjeta{
    box-sizing: border-box;
    height: 1140px;
    width: 1440px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.5);
}


h1{
    font-size: 70px;
    font-weight: 400;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.head{
    padding-right: 750px;
    margin-top: 20px;
    margin-right: 60px;
}

h3{
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 100;
    padding-right: 750px;
    margin-right: 60px;


}


button{
    justify-content: left;
    margin-top: 20px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 10px;
    color: white;
}

    
.foto1{
    width: 300px;
    margin-left: 500px;
    margin-top: -450px;
    border-radius: 20px;
   
}


.foto2{
    border: 2px solid rgb(175, 12, 12);
    width: 550px;
    margin-left: 900px;
    margin-top: -350px;
    border-radius: 20px;
}


.galeriainferior{
    display: flex;
    justify-content: space-between;
  

}



.foto3{
   width: 400px;
   margin-top: 200px;
}


.foto4{
    width: 100px;
    margin-top: -150px;
}



.foto5{
    width: 100px;
    margin-top: -150px;
}
