body {
    background-color: #bbbaba;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tarjeta{
    box-sizing: border-box;
    height: 926px;
    width: 1440px;
    background-color: #2F2F2F;
    flex-direction: column;
    align-items: center;
    box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.5);
}

.text{
    display: flex ;
    width: 449px;
    height: 672px;
    margin-top: 100px;
    margin-left: 152px;

}


h1{
    width: 370px;
    height: 324px;
    font-weight: 700;
    font-size: 72px;
    color: rgb(44, 191, 228);
}


h3{
    width: 449px;
    height: 100px;
    font-weight: 400;
    font-style: regular;
    font-size: 24px; 
    margin-bottom: 40px;
    color: #FFFFFF;
}


button{
    width: 182px;
    height: 66px ;
    font-size: 24px;
    border-radius: 36px;
    padding-top: 24px;
    padding-bottom: 24px ;
    padding-left: 48px;
    padding-right: 48px ;
}


.gallery{
    display: flex;
    gap: 15px;
    margin-left: 50px;
    margin-bottom: 100px;
}


.fila1{
    
}


.imgp51{
    width: 172px;
    height: 192px;
    border-radius: 40px;
}


.imgp52{
    width: 172px;
    height: 192px;
    border-radius: 40px;
}


.imgp53{
    width: 172px;
    height: 192px;
    border-radius: 40px;
}


.imgp54{
     width: 172px;
    height: 192px;
    border-radius: 40px;
}


.fila2{

}


.imgp55{
    width: 172px;
    height: 192px;
    border-radius: 40px;
}


.imgp56{
    width: 172px;
    height: 192px;
    border-radius: 40px;
}


.imgp57{
    width: 172px;
    height: 192px;
    border-radius: 40px;
}


.imgp58{
    width: 172px;
    height: 192px;
    border-radius: 40px;
}


.fila3{

}


.imgp1{
    width: 172px;
    height: 192px;
    border-radius: 40px;
}


.imgp2{
    width: 172px;
    height: 192px;
    border-radius: 40px;
}


.imgp3{
    width: 172px;
    height: 192px;
    border-radius: 40px;
}


.imgp4{
    width: 172px;
    height: 192px;
    border-radius: 40px;
}


.fila4{

}


.imgp5{
    width: 172px;
    height: 192px;
    border-radius: 40px;
}


.imgp6{
    width: 172px;
    height: 192px;
    border-radius: 40px;
}


.imgp7{
    width: 172px;
    height: 192px;
    border-radius: 40px;
}


.imgp8{
    width: 172px;
    height: 192px;
    border-radius: 40px;
}


